version: 2
jobs:
  build:
    docker:
      - image:  fpco/stack-build:lts-14.11
    steps:
      - checkout
      - restore_cache:
          key: stack-{{ checksum "stack.yaml" }}
      - restore_cache:
          key: stack-{{checksum "stack.yaml"}}-{{checksum "hhc.cabal"}}
      - run: 
          name: build
          command: stack build
      - save_cache:
          key: stack-{{checksum "stack.yaml"}}
          paths:
            - "~/.stack"
      - save_cache:
          key: stack-{{checksum "stack.yaml"}}-{{checksum "hhc.cabal"}}
          paths:
            - “.stack-work”
      - run: 
          name: test
          command: stack test
