version: 2
jobs:
  build:
    docker:
      - image:  fpco/stack-build:lts-12.5
    steps:
      - checkout
      - restore-cache:
          keys:
            - stack-{{ checksum "stack.yaml" }}
      - restore-cache:
          keys:
            - stack-{{checksum "stack.yaml"}}-{{checksum "hhc.cabal"}}
      - run: 
          name: setup
          command: stack setup
      - run: 
          name: build
          command: stack build
      - run: 
          name: test
          command: stack test

