version: 2
jobs:
  build:
    docker:
      - image: debian:stretch
    steps:
      - checkout
      - restore-cache:
          keys:
            - stack-{{ checksum "stack.yaml" }}
      - restore-cache:
          keys:
            - stack-{{checksum "stack.yaml"}}-{{checksum "hhc.cabal"}}
      - run: 
          name: get stack
          command: curl -L https://github.com/commercialhaskell/stack/releases/download/v1.7.1/stack-1.7.1-linux-x86_64.tar.gz -o /tmp/stack.tar.gz
      - run:
          name: make directory for stack   
          command: sudo mkdir /tmp/stack-download
      - run: 
          name: unpack stack
          command: sudo tar -xzf /tmp/stack.tar.gz -C /tmp/stack-download
      - run:
          name: make stack executable 
          command: sudo chmod +x /tmp/stack-download/stack-1.7.1-linux-x86_64/stack
      - run:
          name: move stack to /usr/bin 
          command: sudo mv /tmp/stack-download/stack-1.7.1-linux-x86_64/stack /usr/bin/stack
      - run: 
          name: setup
          command: stack setup
      - run: 
          name: build
          command: stack build
      - run: 
          name: test
          command: stack test

